.Slider {
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  /*overflow: hidden;*/
  @media (max-width: em(1040px)) {
    gap: 20px;
  }
}

/* Media query for smaller screens (e.g., mobile) */
@media only screen and (max-width: 768px) {
  .Slider img {
    /* Adjust styles for smaller screens */
    width: 100%; /* Set the image width to 100% of the container */
    height: auto; /* Maintain the aspect ratio */
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-200%); /* Adjust the translateX value for smaller screens */
    }
  }
}
.imageSLider {
  max-width: 320px;
  width: 100%;
  height: auto;
  @media (max-width: em(1040px)) {
    max-width: 200px;
  }
}
